<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Você me ama?</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Fonte Quicksand -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="background-hearts"></div>

    <div class="container">
        <h1 id="title">Você me ama?</h1>

        <div id="buttons">
            <button id="yesBtn">Sim</button>
            <button id="noBtn">Não</button>
        </div>

        <p id="responseText"></p>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
